<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OTP Email</title>
</head>

<body style="font-family: Arial, sans-serif;">
    <div style="background-color: #f4f4f4; padding: 20px;">
        <h2>One Time Password (OTP)</h2>
        <p>Hello, {{username}}</p>
        <p>Your Password Reset OTP for authentication is: <strong>{{otp}}</strong></p>
        <p>Please use this OTP to proceed with your action.</p>
        <p>If you did not request this OTP, please ignore this email.</p>
        <br>   <p>Thank you!</p>
    </div>
    <i>this token is only valid for 24hrs</i>
</body>

</html>